.footer {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding-bottom: 1rem;
    color: var(--color-light);

    .footer__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__link {
        color: var(--border-color);

        &:hover {
            color: var(--text-color);
        }

        .fa-github {
            text-decoration: underline;
        }
    }
}