.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    margin-top: 0.6rem;

    .header__gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        color: var(--audio-time);
        font-size: 1.171875rem;

        &:hover {
            cursor: pointer;
            color: var(--text-color);
        }

        .header__gallery-text {
            margin-left: 5px;
            font-size: 1.171875rem;
        }
    }

    .header__score {
        display: flex;
        justify-content: center;
        align-items: center;

        .regtext_score {
            font-size: 1.171875rem;
        }
    }

    .header__logo {
        background: url('../assets/svg/logo.4f82cd73.svg') no-repeat;
        width: 170px;
        margin-top: 1.3rem;
        height: 70px;
        background-size: 100%;
    }
}

