@import 'header';
@import 'quiz-line';
@import 'audio-player';
@import 'secret-bird';
@import 'answers-options';
@import 'bird-card';
@import 'footer';


:root {
    --background-color-primary: #222;
    --background-color-secondary: #303030;
    --text-color: #ffffff;

    --audio-gradient: linear-gradient(to right, rgb(0, 188, 140) 0%, rgb(61, 133, 140) 44.9506%, rgb(115, 115, 115) 44.9506%, rgb(115, 115, 115) 100%);
    --quiz-line-color: #007c5d ;
    --quiz-color-active: #00bc8c;
    --quiz-color-active-hover: #20c997;
    --quiz-color-wrong: #ff0000;
    --extra-light-color: #808080;
    --audio-time: #d3d3d3;
    --border-color: #555;
    --color-light: #444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background-color-primary);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px; 
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.regtext {
    font-size: 15px;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.audio__src {
    display: none;
}

.answers {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.message {
    margin: 0 1rem;
    white-space: pre-line;
}

.next-btn {
    width: 100%;
    background-color: var(--quiz-color-active);
    padding: 8px 12px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: var(--quiz-color-active-hover);
    }
}