@import 'header';
@import 'quiz-line';
@import 'footer';


:root {
    --background-color-primary: #222;
    --background-color-secondary: #303030;
    --text-color: #ffffff;

    --quiz-line-color: #007c5d ;
    --quiz-line-color-active: #00bc8c;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background-color-primary);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px; 
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.regtext {
    font-size: 15px;
}
