.secret-bird {
    margin-top: 1.5rem;
    background-color: var(--background-color-secondary);
    width: 100%;
    border-radius: 5px;
    display: flex;

    .secret-bird__img {
        margin: 1rem;
        border-radius: 10px;
        width: 200px;
        height: 155px;
        object-fit: cover;
    }

    .secret-bird__info {
        flex-grow: 0.9;
        padding-left: 2rem;

        .secret-bird__title {
            border-bottom: 1px solid var(--border-color);
            font-size: 2rem;
            margin-top: 2rem;
            width: 100%;
        }
        
        .secret-bird__audio {
            margin-top: 1rem;
            font-size: 2rem;
        }
    }

}